<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tripscape">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.example.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_tripescape"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_tripescape_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:name="com.example.tripscape.TripApplication">

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDur0_CyqaMWj6vLVKmztm6YT6rLLNoz94"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_application_id"/>

        <activity android:name=".presentation.ActionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".data.FirestoreData" android:screenOrientation="portrait"/>
        <activity android:name=".presentation.MyTripsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".presentation.TripCodeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".presentation.LoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>